{% extends "unauthbase.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<a style="z-index:1000" href="/oauth/login">
<img class="mx-2 my-5" src="/staticmedia/back.png" style="width:60px;height:60px;z-index:1000;position:relative;float:left" alt="return arrow" />
</a>
<center class="container">
    <h4 class="my-5" style="color:grey">{% trans "Password Recovery/ Connection" %}
    <img src="/staticmedia/mail.gif" class="container container-fluid" style="width:280px;height:106px;position:relative"/>
    </h4>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}



    <form method="POST" id="toggle_email_form" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.email | as_crispy_field }}
        <button id="toggle_email" class="btn btn-outline-success" style="border:none" type="submit">{% trans 'send password setup' %}</button>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    <p style="font-size:12px;width:250px"> If you Log-In using a Trusted Site, Creating a password here at QSatchel only benefits your Security <br>
    You may still Log In Directly Using another trusted site, just with an added layer of protection for your account <br>

    If a third-party Account is Connected , your QSatchel Username is the  
    First Name associated with your Account Email Information, But it is Highly Encouraged that you Login Directly Google if you have that capability of doing so

    <br><br> You can Avoid having to Constantly Enter Your Password 

    </p>

</center>
{% endblock %}