{% extends "base.html" %}
{% load crispy_forms_tags %}

 {% block head_title %}
 Secuirty is Our Priorty
  {% endblock head_title %}
  
{% load i18n %}

{% load crispy_forms_tags %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="container">
<br>
<span></span>

  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-outline-info" style="border:none" type="submit" name="action">{% trans "Change Password" %}</button>
        <a class="d-none" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>


<form method="POST" action="/fulldeavativation/">{% csrf_token %}
  
</form>


<br><br><br>

    <button onclick="deactivate()" 
    type="button"
    style="border:none;box-shadow:none" 
    class=" btn btn-outline-danger btn-sm btn-block mb-4">
      <small>DEACTIVATE ACCOUNT</small></button>

  <center><div id="DePopper"
      data-toggle="popover"
      data-trigger="focus"
      style="font-size:12px;background-color:#ffe6e6;color:#b50c00;display:none;z-index:1000;padding:12px;position:relative"
      class="mt-5 rmvButt popfade jumbotron rounded">
      <br>  These Actions are <strong>Permanent</strong> 
      <br>  Please note that, once you press Deactivate,
      <br> All of your Data Will Be lost,
       to Stop this action,  Click the deactivation Button Again
      <br> Proceed with Caution
      <hr> 

    <form id="destroy-form" method="POST" action="/fulldeavativation/">{% csrf_token %}
      <button type="submit" 
      id="destroy-user"
      style="border:none;font-size:12px" 
      class="btn btn-outline-danger btn-lg">
      CONFIRM DEACTIVATION</button>
    </form>
         </div></center>



      <hr>
<p style="position:relative;font-size:9px" class="container">
  Keeping your Data Authentic In This Age of Information is Vital to Your Online Secuirty 
 Stay Secure, and Spread Your Message
</p>

</div>
  {% endif %}
{% endblock content %}