{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<center>
    <h4>{% trans "Third-Party Authentication" %}</h4>
    <h6 style="font-size:9px;position:relative"> You have connected to QSatchel using one of our trusted third-party websites,
    <br> this password is only connected to your account here at QSatchel. You may connect using this password,<br>
     and the first name associated with your third-party account</h6>
    <form method="POST"  action="{% url 'account_set_password' %}" class="password_set container">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="btn btn-outline-success" style="border:none" name="action" value="{% trans 'Set Password' %}"/>
    </form>


<br><br><br>

    <button onclick="deactivate()" 
    type="button"
    style="border:none;box-shadow:none" 
    class=" btn btn-outline-danger btn-sm btn-block mb-4">
      <small>DEACTIVATE ACCOUNT</small></button>

  <center><div id="DePopper"
      data-toggle="popover"
      data-trigger="focus"
      style="font-size:12px;background-color:#ffe6e6;color:#b50c00;display:none;z-index:1000;padding:12px;position:relative"
      class="mt-5 rmvButt popfade jumbotron rounded">
      <br>  These Actions are <strong>Permanent</strong> 
      <br>  Please note that, once you press Deactivate,
      <br> All of your Data Will Be lost,
       to Stop this action,  Click the deactivation Button Again
      <br> Proceed with Caution
      <hr> 

    <form id="destroy-form" method="POST" action="/fulldeavativation/">{% csrf_token %}
      <button type="submit" 
      id="destroy-user"
      style="border:none;font-size:12px" 
      class="btn btn-outline-danger btn-lg">
      CONFIRM AUTHENTICATED DEACTIVATION</button>
    </form>
         </div></center>



      <hr>

</center>
{% endblock %}
