
<style>
body {
  background: #000000;
  font-family:Arial, sans-serif;
}

.filter-white {
  filter: invert(94%) sepia(0%) saturate(6822%) hue-rotate(138deg) brightness(114%) contrast(105%);
}

</style>
<a style="color:white;z-index:1000" class="zoom" href="/">
<img src="/staticmedia/comfy.svg" style="width:100px;height:100px" class="filter-white"/> </a>


<span >
<div style="background:darkgrey;position:absolute;bottom:200px;right:170px;color:grey;padding:50px;border:solid;border-radius:45px">
<h4 style="color:white">Looks like you're lost , please hit the home button </h4>
</div>
<div style="background:grey;position:absolute;bottom:140px;right:150px;color:darkgrey;padding:20px;border:solid;border-radius:50%"></div>
<div style="background:grey;position:absolute;bottom:110px;right:130px;color:grey;padding:10px;border:solid;border-radius:50%"></div>

<img style="position:absolute;bottom:0px;right:0px;width:150px;height:150px" src="/staticmedia/doge.png"/>
</span>
</div>
