
{% extends 'base.html' %}
{% block head_title %}Who {{username}} Follows{% endblock head_title %}

{% block content %}

<a href="/profiles/{{username}}">
<div class="" style="background:none;position:relative;">
<img class=" mx-2" src="/staticmedia/back.png" style="width:40px;height:40px;z-index:1000;position:relative;float:left" alt="return arrow" />
<h6> @ {{username}} 
    <img style="border-radius:50%;width:40px;height:40px" class="shadow-lg shadow" src="/staticmedia/{{subjects_obj.avatar}}"/>

</h6>
</div>
</a>
<center class="container container-fluid">
{% for bin in following_avatar_bin %}
  
    {% comment %} {% for f in following_obj %} {% endcomment %}
  <div><h4>          
          <a href="/profiles/{{bin.user}}">
          <div style="" class="">
          <h6>
         <small style="font-weight:bold">@  {{bin.user}}</small>
          <img style="border-radius:50%;width:65px;height:65px;padding:5px;border:1px" class="shadow-lg shadow" src="/staticmedia/{{bin.avatar}}"/>
                   <button type="button"
                   data-href="/profiles/{{username|cut:" "}}/follow_activation/{{request.user|cut:" "}}/"
                   style="font-weight:bold;padding:10px;border:none;box-shadow:none;width:40%"
                   class="d-none connection_toggle my-3 btn btn-outline-info" > {{button_action}}
                  </button>
            {% if not request.user|cut:" " == bin.user|cut:" " %}    
              {% if request.user in bin.followers.all %}
                  <button type="button"
                   data-href="/profiles/{{bin.user|cut:" "}}/follow_activation/{{request.user|cut:" "}}/"
                   style="font-weight:bold;padding:8px;border:none;box-shadow:none"
                   class="connection_toggle my-3 btn btn-outline-info" > UNFOLLOW 
                  </button><br>
                  
              {% else %}
              <button type="button"
                   data-href="/profiles/{{bin.user|cut:" "}}/follow_activation/{{request.user|cut:" "}}/"
                   style="font-weight:bold;padding:8px;border:none;box-shadow:none"
                   class="connection_toggle my-3 btn btn-outline-info" > FOLLOW 
                  </button><br>
            {% endif %}        
          {% endif %}
          </h5>
       
     
     
          </a>
          
          <br>
          
    </h4>
  {% comment %} {% endfor %} {% endcomment %}
  {% empty %}
  <div class="justify-content-center" style="width:40%">Not Following Anyone </div>
{% endfor %}

</center>
{% endblock content %}